#section-three {
	.row {
		width: 100%;
		.section-text-photo {

		}
		.section-text-conteiner {
			@include section-text-conteiner;
			justify-content: center;
			p {
				font-size: 24px;
				margin-bottom: 0;
			}
		}
	}
}
